* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	object-fit: cover;
}
body {
	background: #FFFFFF;
	color: #343336;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

ul {
	list-style: none;
}

p {
  color: #343336;
}

/**
 * top header
 */
.top-header {
	background: #FFFFFF;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.12);
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.avatar {
	background: #6044f2;
	border-radius: 50%;
	color: #FFFFFF;
	height: 40px;
	margin-right: 20px;
    margin-left: 10px;
	padding-left: 9px;
	padding-top: 5px;
	width: 40px;
}

#logout-link {
	padding-left: 10px;
	color: #6044f2;
}

/**
 * top navigation
 */
.top-nav {
	flex: 1;
}

.top-nav span {
	color: #6044f2;
	font-weight: 500;
	margin-left: 20px;
}

.top-nav img {
	height: 2rem;
    width: 2rem;
    margin-left: 48px;
}

#welcome-msg {
	border-right: 1px solid #FFFFFF;
	padding-right: 10px;
}

/**
 * main container
 */
.container {
	margin: 40px auto;
	max-width: 1000px;
	min-width: 600px;
}

/**
 * main header
 */
.Header {
  position: relative;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header__svg {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-40%);
  z-index: -1;
}
.Header__title {
  font-size: 2.6em;
}

/**
 * login form
 */

.primary-btn {
    cursor: pointer;
	float: right;
	padding: 8px 20px;
	text-align: right;
    color:#FFF;
    background-color: #6044f2;
    border-radius: 50px;
}

.secondary-btn {
    cursor: pointer;
	float: left;
	padding: 8px 10px;
	text-align: left;
    color:#343336;
    background-color: #FFF;
    border-radius: 50px;
}

#login-form {
	color: #6044f2;
	margin: 0px auto;
	overflow: auto;
	padding: 40px;
	width: 350px;
    font-weight:500;
}

input {
    margin-top:8px;
	border: 1px solid #e0ddfc;
	display: block;
	margin-bottom: 16px;
	padding: 8px;
	width: 100%;
    border-radius: 50px;
}

#login-form label {
	display: block;
}
 

/* #login-form #login-btn {
  cursor: pointer;
  float: right;
  padding: 8px 20px;
  text-align: right;
    color:#FFF;
    background-color: #6044f2;
    border-radius: 50px;
} */

#login-form #register-form-btn {
	cursor: pointer;
	float: left;
	padding: 8px 10px;
	text-align: left;
    color:#343336;
    background-color: #FFF;
    border-radius: 50px;
}

#login-error {
	clear: both;
	color: #ee9fb6;
	padding-top: 10px;
}

/**
 * register form
 */
#register-form {
	color: #6044f2;
	margin: 0px auto;
	overflow: auto;
	padding: 40px;
	width: 350px;
    font-weight:500;
}

#register-form label {
	display: block;
}

/* #register-form #login-form-btn {
  cursor: pointer;
  float: left;
  padding: 8px 10px;
  text-align: left;
} */

/* #register-form #register-btn {
  cursor: pointer;
  float: right;
  padding: 8px 20px;
  text-align: right;
} */

#register-result {
	clear: both;
	color: #990000;
	padding-top: 10px;
}

/**
 * main section
 */
.main-section {
	background: #FFF;
	margin-top: 40px;
}

/**
 * aside
 */
#item-nav {
	float: left;
	width: 180px;
}

.nav-icon {
	color: #6044f2;
	padding: 20px;
	text-align: center;
}

/**
 * main navigation
 */
.main-nav-btn {
	background: none;
	border-top: 1px solid #e0ddfc;
	color: #6044f2;
	display: block;
	padding: 20px;
	text-align: left;
	text-decoration: none;
}

.main-nav-btn:hover {
	background: #e0ddfc;
}

.main-nav-btn.active {
	background: #6044f2;
	color: #ffffff;
}

.main-nav-btn i {
	width: 20px;
}

/**
 * item list
 */
#item-list {
	background: #F9F8FE;
	list-style: none;
	margin-left: 180px;
	min-height: 250px;
	padding: 10px;
}

#item-list .notice {
	font-size: 16px;
	padding: 60px;
	text-align: center;
}

/**
 * item
 */
.item {
	align-items: center;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	margin: 10px;
	padding: 15px;
	transition: background-color 100ms linear;
}

.item:last-child {
	border: none;
}

.item:hover {
	background: #ffffff;
	transition: background-color 100ms linear;
}

.item img {
	border: 1px solid #FFFFFF;
	height: 80px;
	width: 80px;
}

.item>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.item-name {
	color: #343336;
	font-weight: 400;
	text-decoration: none;
}

.item-name:hover {
	text-decoration: underline;
}

.item-address {
	line-height: 20px;
	padding-right: 20px;
	text-align: right;
}

.stars {
	align-items: center;
	display: flex;
	padding-top: 10px;
}

.fav-link {
	border-left: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	width: 60px;
}

.fav-link:hover {
	color: #ee9fb6;
}

/**
 * footer section
 */
footer {
    position: relative;
    height: 80px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:3rem;
    box-shadow:0 -0.1875rem 0.125rem #efefef;
}
#logo {
	height: 2rem;
    width: 2rem;
    margin-right: 30px;
}

#portfolio a {
  	color:#343336;
    font-weight:500;
    text-decoration: none;
}
#portfolio a:hover {
    text-decoration: underline;
}